%p
	%a{ :href => "/admin/templates" } &laquo back
	
- if @template.layout?
	%h1 Layout
- else
	%h1 Template
	
%form{:method =>:post, :action => "/admin/#{(@template.layout?&&@template.new_record?) ? "layouts" : "templates"}/#{@template.id unless @template.new_record?}"}
	- unless @template.new_record?
		%input{ :type => :hidden, :name => "_method", :value => :put }
	%fieldset
		%legend Edit template
		%input{ :type => :submit }
		%label 
			Name
			%input{:type => :text, :name => "template[name]", :value => "#{@template.name}"}
		- unless @template.layout?
			%label
				Layout
				%select{:name => "template[layout_id]"}
					%option{:value=>""} None
					- Manuscript::LayoutTemplate.all.each do |layout|
						- if layout==@template.layout
							%option{:value => "#{layout.id}", :selected => "selected"}
								= layout.name
						- else
							%option{:value => "#{layout.id}"}
								= layout.name
		%label 
			Code
		%textarea{:name => "template[code]"}= @template.code